<label>{{configuration.title}}</label>
<div class="form-group search">
    <input type="text" class="form-control" [placeholder]="configuration.placeholder" #searchInput>
    <i class="fa fa-search search-icon"></i>
</div>
<div class="loader-wrapper" *ngIf="loading; else dataLoaded">
    <div class="loader"></div>
</div>
<ng-template #dataLoaded>
    <div class="table-wrapper">
        <app-table [data]="pagedData" [columns]="columns"></app-table>
        <app-pagination [total]="data.length" [currentPage]="currentPage" [pageSize]="pageSize"
            (pageChanged)="onPageChanged($event)">
        </app-pagination>
    </div>
</ng-template>