.table {
    margin-bottom: 50px;
    th {
        border-top: none;
    }
    thead {
        th {
            border-bottom: none;
        }
    }
    tr {
        &:last-child {
            td {
                border-bottom: 1px solid #dee2e6; 
            }
        }
    }
}