@import '../../../scss/component/colors';

.top-heading-wrapper {
    padding-left: 30px;
}
.nav-tabs {
    border-bottom: none;
    .nav-link {
        border-radius: 0;
        color: $black-color;
        border: none; 
        &.active {
            background-color: $athens-gray;
            color: $mixed-blue-color
        }
    }
}
.router-outlet-wrapper {
    background-color: $athens-gray;
    padding: 25px 30px 70px;
}