@import '../../../scss/component/colors';

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.heading-text {
    font-size: 18px;
}
.top-heading-wrapper {
    padding: 30px 0 0 30px;
}
.nav-tabs {
    border-bottom: none;
    .nav-link {
        border-radius: 0;
        color: $black-color;
        border: none; 
        &.active {
            background-color: $athens-gray;
            color: $mixed-blue-color
        }
    }
}
.router-outlet-wrapper {
    flex:1;
    padding: 25px 30px 70px;
    background-color: $athens-gray;
}